.row{
    max-width:$grid-width;
    // background:#eee;
    margin:0 auto;       

    &:not(:last-child){
        margin-bottom:$getter-vertical;
        @include respond(tab-port)
        {
            margin-bottom:$getter-vertical-small;
        }
    }
    @include respond(tab-port)
    {
        max-width:50rem;
        padding:0 3rem;
    }
    @include clearfix;

    [class^="col-"]{
        // background-color:orangered;
        float:left;
        &:not(:last-child){
            margin-right:$getter-horizontal;
            @include respond(tab-port)
            {
                margin-right:0;
                margin-bottom:$getter-vertical-small;
            }
        } 
        @include respond(tab-port)
        {
            width: 100% !important; 
        }
    }

    .col-1-of-2{
        width:calc((100% - #{$getter-horizontal}) / 2);
    }
    .col-1-of-3{
        width:calc((100% - 2*#{$getter-horizontal}) / 3);
    }
    .col-1-of-4{
        width:calc((100% - 3*#{$getter-horizontal}) / 4);
    }
    .col-2-of-3{
        width:calc(2*((100% - 2*#{$getter-horizontal}) / 3)+#{$getter-horizontal});
    }
    .col-2-of-4{
        width:calc(2*((100% - 3*#{$getter-horizontal}) / 4)+#{$getter-horizontal});
    }
    .col-3-of-4{
        width:calc(3*((100% - 3*#{$getter-horizontal}) / 4)+2*#{$getter-horizontal});
    }
}
